<?xml version="1.0"?>
<config>
  <modules>
    <Fabmod_Criteo>
      <version>0.0.1</version>
    </Fabmod_Criteo>
  </modules>
  <global>
    <models>
      <fabmod_criteo>
        <class>Fabmod_Criteo_Model</class>
        <resourceModel>Fabmod_Criteo_Model_Resource</resourceModel>
      </fabmod_criteo>
    </models>
    <blocks>
      <fabmod_criteo>
        <class>Fabmod_Criteo_block</class>
      </fabmod_criteo>
    </blocks>
    <helpers>
      <fabmod_criteo>
        <class>Fabmod_Criteo_Helper</class>
      </fabmod_criteo>
    </helpers>
  </global>
  <frontend>
    <layout>
      <updates>
        <fabmod_criteo>
          <file>fabmod_criteo.xml</file>
        </fabmod_criteo>
      </updates>
    </layout>
  </frontend>
  <default>
    <fabmod_criteo>
      <tags>
        <enabled>0</enabled>
      </tags>
    </fabmod_criteo>
  </default>
</config>
