div.ptech-filter dd a {padding:0px 5px 0px 0px; display:block; float: left;} 

/*categories*/
div.ptech-filter span.adj-nav-category-current {font-weight: bold; padding-left: 5px;} 
div.ptech-filter a.adj-nav-pad2 {padding-left:5px}
div.ptech-filter a.adj-nav-pad3 {padding-left:10px}

/*price ranges*/
div.ptech-filter a.adj-nav-price {}
div.ptech-filter a.adj-nav-price-selected {font-weight: bold}

/*attributes*/
div.ptech-filter a.ptech_multilayer_attribute { padding-left:25px; background:transparent url(../../images/Ptech/Check-Box.png) no-repeat scroll 0px 3px;}
div.ptech-filter a.ptech_multilayer_attribute_selected {padding-left:25px; /*border:dotted;*/ background-position: 0px -16px; font-weight: bold; overflow:hidden;}
div.ptech-filter a.ptech_multilayer_swatches {padding:0px 0px 5px 0px;}
div.ptech-filter a.ptech_multilayer_swatches_selected {opacity:0.5}

div.ptech-filter a.ptech_multilayer_disabled {color:gray; cursor:wait}
div.ptech-filter input.ptech_multilayer_disabled {background-color:gray; border:1px solid gray; cursor:wait}

div.ptech-filter a.ptech_multilayer_clear {float: right; cursor:pointer;} 

div.price_slider { position:relative; z-index:9; height:28px; margin:0 auto 5px auto; background:url(../../images/Ptech/orange_bar.jpg) no-repeat 50% 50%; cursor:pointer; }
div.price_slider div.handle { top:3px; width:14px; height:23px; background: transparent url(../../images/Ptech/slider_button.png) no-repeat; cursor:move; position: absolute; }

#adj-nav-container, div.adj-nav {position:relative}

.ptech_loading_filters{
    width:100%;
    height:1000%;
    background-color:#D8D8D8;
    z-index:500;
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position:absolute;
    top:0;
    left:0;
}

.ptech_loading_filters img{
	left:48%;
	top:45%;
	display:block;
	position:fixed;
	z-index:900;
}

.layered-nav div.ptech_multilayer_clear_all {
    margin:0;
    border:1px solid #b9ccdd;
    border-left:0;
    border-right:0;
    padding:3px 10px;
    color:#1f5070;
    font-weight:bold;
    font-size:1em;
    text-align:center;
} 

.ptech-filter dt{
cursor:pointer;
}
.ptech-filter dt.ptech_multilayer_dt_selected{}

div.ptech-filter dd li{overflow:hidden;}


.color { width:150px; clear:both; margin:6px 0 6px 0; }

.color .color_box { width:17px; height:17px; float:left; display:block; margin-right:4px; }

.color a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }

.color a:hover { color:#09F; text-decoration:none; }

.color span { font-family:Arial; font-size:11px; color:#999; }
/*Fab-59 css code starts */
/* div.price_slider{position:relative;height:8px;background:#ffd600;cursor:pointer;margin:0 auto 10px}div.ptech-filter dd#ptech_multilayer_init_price li{overflow:inherit}div.price_slider div.handle{top:-6px;width:13px;height:20px;background:#464646;cursor:pointer;position:absolute;z-index:99;border-radius:5px}span#price_range_toprice{float:right}.handle-left{left:0!important}.handle-right{right:0!important;left:auto!important}dd#ptech_multilayer_init_price{border-bottom:2px solid #ccc;padding-bottom:30px}div.ptech-filter a.ptech_multilayer_attribute{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;background:0 0;padding-left:22px;position:relative}div.ptech-filter a.ptech_multilayer_attribute:before{position:absolute;width:14px;height:20px;background:url(../../images/Ptech/Check-Box.png) 0 5px no-repeat;left:0;content:'';top:1px}div.ptech-filter a.ptech_multilayer_attribute:hover,div.ptech-filter a.ptech_multilayer_attribute_selected{background:0 0;color:#ffc000;font-weight:400}div.ptech-filter a.ptech_multilayer_attribute:hover:before,div.ptech-filter a.ptech_multilayer_attribute_selected:before{background:url(../../images/Ptech/Check-Box.png) 0 -20px no-repeat}div.ptech-filter a.ptech_multilayer_attribute_selected{font-weight:500} */
div.price_slider{position:relative;height:8px;background:#ffd600;cursor:pointer;margin:0 auto 10px}div.ptech-filter dd#ptech_multilayer_init_price li{overflow:inherit}div.price_slider div.handle{top:-6px;width:13px;height:20px;background:#464646;cursor:pointer;position:absolute;z-index:99;border-radius:5px}span#price_range_toprice{float:right}.handle-left{left:0;}.handle-right{right:0!important;left:auto!important}dd#ptech_multilayer_init_price{border-bottom:2px solid #ccc;padding-bottom:30px}div.ptech-filter a.ptech_multilayer_attribute{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;background:0 0;padding-left:22px;position:relative}div.ptech-filter a.ptech_multilayer_attribute:before{position:absolute;width:14px;height:20px;background:url(../../images/Ptech/Check-Box.png) 0 5px no-repeat;left:0;content:'';top:1px}div.ptech-filter a.ptech_multilayer_attribute:hover,div.ptech-filter a.ptech_multilayer_attribute_selected{background:0 0;color:#ffc000;font-weight:400}div.ptech-filter a.ptech_multilayer_attribute:hover:before,div.ptech-filter a.ptech_multilayer_attribute_selected:before{background:url(../../images/Ptech/Check-Box.png) 0 -20px no-repeat}div.ptech-filter a.ptech_multilayer_attribute_selected{font-weight:400;color:#464646;text-decoration:underline}
@media (max-width:767px){div.ptech-filter a.ptech_multilayer_attribute:hover{text-decoration: none;color: #464646;}div.ptech-filter a.ptech_multilayer_attribute:hover:before{background: url(http://kellton.fabelio.com/skin/frontend/smartwave/porto/images/Ptech/Check-Box.png) 0 5px no-repeat;}div.ptech-filter a.ptech_multilayer_attribute_selected:before {background: url(http://kellton.fabelio.com/skin/frontend/smartwave/porto/images/Ptech/Check-Box.png) 0 -20px no-repeat !important;}div.ptech-filter a.ptech_multilayer_attribute_selected {background: 0 0;color: #777 !important; font-weight: 400 !important;text-decoration: underline !important;}}
/*Fab-59 css code ends */
