table.data-table {
    border-collapse: collapse;
}

table.data-table tbody tr.border {
    border-top: 1px solid #D9D9D9;
}

table.data-table div.option-label {
    font-style: italic;
    font-weight: bold;
}

#awrma-items-loading td {
    text-align: center;
}

#awrma-items-error td {
    text-align: center;
    color: #F33;
}

#awrma-items .input-text {
    width: 100px !important;
}

#awrma-items .a-right {
    width: 100px !important;
}

#awrma-items-select {
    width: 32px;
    padding-left: 0;
    padding-right: 0;
}

ul.awrma-comments-list {
    margin-top: 20px;
    list-style-image: url('../images/comment.png');
    list-style-position: inside;
}

ul.awrma-comments-list li {
    border-top: dotted 1px #333;
    padding: 10px 0;
}

ul.awrma-comments-list li>div {
    margin-left: 30px;
}

.link-awrma,
.link-awrma-newrma,
.link-awrma-cancel,
.link-awrma-printlabel,
.link-awrma-confirmsend {
    color: #DC6809;
    font-weight: bold;
}

.link-awrma-bold {
    font-weight: bold;
}

.link-awrma-inactive {
    color: #777 !important;
}

.label-awrma-removed {
    color: #EB340A;
}

.awrma-m13x-input-wide {
    width: 525px !important;
}

.awrma-m13x-btn-remove {
    background-image: url("../images/btn_trash.gif");
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
}

#awrma-new-form .form-list {
    padding-left: 80px;
}

#awrma-comment-text {
    width: 700px;
}

#awrma-items-ordered-table input.awrma-items-count {
    width: 100px;
}