<?xml version="1.0"?>
<config>
    <modules>
        <AW_Storecredit>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Storecredit>
    </modules>
    <global>
        <resources>
            <aw_storecredit_setup>
                <setup>
                    <module>AW_Storecredit</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </aw_storecredit_setup>
            <aw_storecredit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_storecredit_write>
            <aw_storecredit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_storecredit_read>
        </resources>
        <models>
            <aw_storecredit>
                <class>AW_Storecredit_Model</class>
                <resourceModel>aw_storecredit_mysql4</resourceModel>
            </aw_storecredit>
            <aw_storecredit_mysql4>
                <class>AW_Storecredit_Model_Mysql4</class>
                <entities>
                    <storecredit>
                        <table>aw_storecredit</table>
                    </storecredit>
                    <history>
                        <table>aw_storecredit_history</table>
                    </history>
                    <history_additional>
                        <table>aw_storecredit_history_additional_info</table>
                    </history_additional>
                    <quote_storecredit>
                        <table>aw_storecredit_quote_totals</table>
                    </quote_storecredit>
                    <order_invoice_storecredit>
                        <table>aw_storecredit_invoice_totals</table>
                    </order_invoice_storecredit>
                    <order_creditmemo_storecredit>
                        <table>aw_storecredit_creditmemo_totals</table>
                    </order_creditmemo_storecredit>
                    <order_refunded_storecredit>
                        <table>aw_storecredit_order_refunded_totals</table>
                    </order_refunded_storecredit>
                </entities>
            </aw_storecredit_mysql4>
        </models>
        <blocks>
            <aw_storecredit>
                <class>AW_Storecredit_Block</class>
            </aw_storecredit>
        </blocks>
        <models>
            <aw_storecredit>
                <class>AW_Storecredit_Model</class>
            </aw_storecredit>
        </models>
        <helpers>
            <aw_storecredit>
                <class>AW_Storecredit_Helper</class>
            </aw_storecredit>
        </helpers>
        <template>
            <email>
                <aw_storecredit_email_template translate="label" module="aw_storecredit">
                    <label>AW_Storecredit Email Template</label>
                    <file>aw_storecredit.html</file>
                    <type>html</type>
                </aw_storecredit_email_template>
            </email>
        </template>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <aw_storecredit_sales_quote_collect_totals_before>
                        <class>aw_storecredit/observer_storecredit</class>
                        <method>quoteCollectTotalsBefore</method>
                    </aw_storecredit_sales_quote_collect_totals_before>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_payment_import_data_before>
                <observers>
                    <aw_storecredit_sales_quote_payment_import_data_before>
                        <class>aw_storecredit/observer_storecredit</class>
                        <method>paymentDataImport</method>
                    </aw_storecredit_sales_quote_payment_import_data_before>
                </observers>
            </sales_quote_payment_import_data_before>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <aw_storecredit_adminhtml_sales_order_create_process_data>
                        <class>aw_storecredit/observer_storecredit</class>
                        <method>processOrderCreationData</method>
                    </aw_storecredit_adminhtml_sales_order_create_process_data>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_order_save_before>
               <observers>
                   <aw_storecredit_sales_order_save_before>
                       <class>aw_storecredit/observer_totals</class>
                       <method>salesOrderSaveBefore</method>
                   </aw_storecredit_sales_order_save_before>
               </observers>
            </sales_order_save_before>
            <payment_method_is_active>
               <observers>
                   <aw_storecredit_payment_method_is_active>
                       <class>aw_storecredit/observer_totals</class>
                       <method>paymentMethodIsActive</method>
                   </aw_storecredit_payment_method_is_active>
               </observers>
            </payment_method_is_active>
            <sales_order_place_after>
               <observers>
                   <aw_storecredit_sales_order_place_after>
                       <class>aw_storecredit/observer_storecredit</class>
                       <method>salesOrderPlaceAfter</method>
                   </aw_storecredit_sales_order_place_after>
               </observers>
            </sales_order_place_after>
            <checkout_type_multishipping_create_orders_single>
               <observers>
                   <aw_storecredit_checkout_type_multishipping_create_orders_single>
                       <class>aw_storecredit/observer_storecredit</class>
                       <method>salesOrderPlaceAfter</method>
                   </aw_storecredit_checkout_type_multishipping_create_orders_single>
               </observers>
            </checkout_type_multishipping_create_orders_single>
            <googlecheckout_save_order_after>
               <observers>
                   <aw_storecredit_googlecheckout_save_order_after>
                       <class>aw_storecredit/observer_storecredit</class>
                       <method>salesOrderPlaceAfter</method>
                   </aw_storecredit_googlecheckout_save_order_after>
               </observers>
            </googlecheckout_save_order_after>
            <sales_order_load_after>
               <observers>
                   <aw_storecredit_sales_order_load_after>
                       <class>aw_storecredit/observer_totals</class>
                       <method>salesOrderLoadAfter</method>
                   </aw_storecredit_sales_order_load_after>
               </observers>
            </sales_order_load_after>
            <sales_order_invoice_load_after>
               <observers>
                   <aw_storecredit_sales_order_invoice_load_after>
                       <class>aw_storecredit/observer_totals</class>
                       <method>salesOrderInvoiceLoadAfter</method>
                   </aw_storecredit_sales_order_invoice_load_after>
               </observers>
            </sales_order_invoice_load_after>
            <sales_order_creditmemo_load_after>
               <observers>
                   <aw_storecredit_sales_order_creditmemo_load_after>
                       <class>aw_storecredit/observer_totals</class>
                       <method>salesOrderCreditmemoLoadAfter</method>
                   </aw_storecredit_sales_order_creditmemo_load_after>
               </observers>
            </sales_order_creditmemo_load_after>
            <sales_order_invoice_save_after>
               <observers>
                   <aw_storecredit_sales_order_invoice_save_after>
                       <class>aw_storecredit/observer_totals</class>
                       <method>salesOrderInvoiceSaveAfter</method>
                   </aw_storecredit_sales_order_invoice_save_after>
               </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <aw_storecredit_product_sales_order_creditmemo_refund>
                       <class>aw_storecredit/observer_storecredit</class>
                       <method>salesOrderCreditmemoRefund</method>
                   </aw_storecredit_product_sales_order_creditmemo_refund>
                   <aw_storecredit_sales_order_creditmemo_save_after>
                       <class>aw_storecredit/observer_totals</class>
                       <method>salesOrderCreditmemoSaveAfter</method>
                   </aw_storecredit_sales_order_creditmemo_save_after>
               </observers>
            </sales_order_creditmemo_save_after>
            <aw_sc_storecredit_save_after>
                <observers>
                    <aw_sc_storecredit_save_after>
                        <class>aw_storecredit/observer_totals</class>
                        <method>saveOrderRefundedToStorecredit</method>
                    </aw_sc_storecredit_save_after>
                </observers>
            </aw_sc_storecredit_save_after>
            <paypal_prepare_line_items>
               <observers>
                   <aw_storecredit_paypal_prepare_line_items>
                       <class>aw_storecredit/observer_totals</class>
                       <method>paypalPrepareLineItems</method>
                   </aw_storecredit_paypal_prepare_line_items>
               </observers>
            </paypal_prepare_line_items>
            <sales_order_payment_cancel>
               <observers>
                   <aw_storecredit_order_cancel_after>
                       <class>aw_storecredit/observer_storecredit</class>
                       <method>orderPaymentCancel</method>
                   </aw_storecredit_order_cancel_after>
               </observers>
            </sales_order_payment_cancel>
            <adminhtml_customer_save_after>
                <observers>
                    <aw_storecredit_customer_update_balance>
                        <type>singleton</type>
                        <class>aw_storecredit/observer_storecredit</class>
                        <method>updateStoreCreditFromCustomerEdit</method>
                    </aw_storecredit_customer_update_balance>
                </observers>
            </adminhtml_customer_save_after>
            <controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <aw_storecredit_save_shipping_method_after>
                        <class>aw_storecredit/observer_storecredit</class>
                        <method>saveShippingMethodAfter</method>
                    </aw_storecredit_save_shipping_method_after>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
            <controller_action_layout_render_before_adminhtml_customer_edit>
                <observers>
                    <aw_storecredit_prepare_back_url>
                        <class>aw_storecredit/observer_storecredit</class>
                        <method>prepareBackUrl</method>
                    </aw_storecredit_prepare_back_url>
                </observers>
            </controller_action_layout_render_before_adminhtml_customer_edit>
        </events>
        <sales>
            <quote>
                <totals>
                    <aw_storecredit>
                        <class>aw_storecredit/sales_order_totals_quote</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total,reward,aw_giftcard,awraf,points</after>
                        <before>customerbalance</before>
                        <renderer>aw_storecredit/frontend_checkout_total</renderer>
                    </aw_storecredit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <aw_storecredit>
                        <class>aw_storecredit/sales_order_totals_invoice</class>
                        <after>discount,tax,grand_total,reward,giftwrapping,aw_giftwrap,aw_giftcard,awraf,points</after>
                        <before>customerbalance</before>
                    </aw_storecredit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <aw_storecredit>
                        <class>aw_storecredit/sales_order_totals_creditmemo</class>
                        <after>weee,discount,tax,grand_total,giftwrapping,aw_giftwrap,customerbalance,aw_giftcard,awraf,points</after>
                        <before>reward</before>
                    </aw_storecredit>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <aw_storecredit translate="title">
                    <title>Store Credit</title>
                    <model>aw_storecredit/sales_total_pdf_storecredit</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>660</sort_order>
                </aw_storecredit>
            </totals>
        </pdf>
    </global>
    <admin>
        <routers>
            <aw_storecredit_admin>
                <use>admin</use>
                <args>
                    <module>AW_Storecredit</module>
                    <frontName>aw_storecredit_admin</frontName>
                </args>
            </aw_storecredit_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aw_storecredit module="AW_Storecredit">
                    <file>aw_storecredit.xml</file>
                </aw_storecredit>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Storecredit>
                    <files>
                        <default>AW_Storecredit.csv</default>
                    </files>
                </AW_Storecredit>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <aw_storecredit>
                <use>standard</use>
                <args>
                    <module>AW_Storecredit</module>
                    <frontName>awstorecredit</frontName>
                </args>
            </aw_storecredit>
        </routers>
        <secure_url>
            <aw_sarp2>/awstorecredit/storecredit/</aw_sarp2>
        </secure_url>
        <layout>
            <updates>
                <aw_storecredit module="AW_Storecredit">
                    <file>aw_storecredit.xml</file>
                </aw_storecredit>
            </updates>
        </layout>

       <translate>
           <modules>
               <AW_Storecredit>
                   <files>
                       <default>AW_Storecredit.csv</default>
                   </files>
               </AW_Storecredit>
           </modules>
       </translate>
   </frontend>
   <default>
       <aw_storecredit>
          <general>
              <enabled>0</enabled>
              <refund_automatically>0</refund_automatically>
              <display_toplink>1</display_toplink>
              <display_customer_balance>1</display_customer_balance>
          </general>
          <email>
              <subscribe_automatically>1</subscribe_automatically>
              <autologin_enabled>0</autologin_enabled>
              <sender>general</sender>
              <template>aw_storecredit_email_template</template>
          </email>
      </aw_storecredit>
  </default>
  <phpunit>
      <suite>
          <modules>
              <AW_Storecredit />
          </modules>
      </suite>
  </phpunit>
</config>