<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Hellopay>
            <version>1.0.0</version>
        </Mage_Hellopay>
    </modules>
    <global>
        <models>
            <hellopay>
                <class>Mage_Hellopay_Model</class>
                <resourceModel>hellopay_mysql4</resourceModel>
            </hellopay>
            <hellopay_mysql4>
                <class>Mage_Hellopay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>hellopay_api_debug</table></api_debug>
                </entities>
            </hellopay_mysql4>
        </models>
        <helpers>
            <hellopay>
                <class>Mage_Hellopay_Helper</class>
            </hellopay>
        </helpers>
        <resources>
            <hellopay_setup>
                <setup>
                    <module>Mage_Hellopay</module>
                    <class>Mage_Hellopay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hellopay_setup>
            <hellopay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hellopay_write>
            <hellopay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hellopay_read>
        </resources>
        <blocks>
            <hellopay><class>Mage_Hellopay_Block</class></hellopay>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <hellopay_standard>/hellopay/standard</hellopay_standard>
        </secure_url>
        <routers>
            <hellopay>
                <use>standard</use>
                <args>
                    <module>Mage_Hellopay</module>
                    <frontName>hellopay</frontName>
                </args>
            </hellopay>
        </routers>
        <translate>
            <modules>
                <Mage_HellopayForm>
                    <files>
                        <default>Mage_Hellopay.csv</default>
                    </files>
                </Mage_HellopayForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <hellopay>
                    <file>hellopay.xml</file>
                </hellopay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Hellopay>
                    <files>
                        <default>Mage_Hellopay.csv</default>
                    </files>
                </Mage_Hellopay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <hellopay_standard>
				<order_status>pending</order_status>
				<active>0</active>
                <payment_action>Payment</payment_action>
                <model>hellopay/standard</model>
                <title>Credit/Debit Card (helloPay)</title>
                <allowspecific>0</allowspecific>
            </hellopay_standard>
        </payment>
    </default>
</config>