<?xml version="1.0"?>
<config>
    <modules>
        <AW_ShippingPrice>
            <version>1.0.2</version><platform>ce</platform>
        </AW_ShippingPrice>
    </modules>
    <admin>
        <routers>
            <price_admin>
                <use>admin</use>
                <args>
                    <module>AW_ShippingPrice</module>
                    <frontName>price_admin</frontName>
                </args>
            </price_admin>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <aw_shippingprice>
                            <title>Shipping Price</title>
                            <sort_order>70</sort_order>
                        </aw_shippingprice>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shippingprice>
                                            <title>aheadWorks Shipping Price Section</title>
                                        </shippingprice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <shippingprice>
                    <file>aw_shippingprice.xml</file>
                </shippingprice>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_ShippingPrice>
                    <files>
                        <default>AW_ShippingPrice.csv</default>
                    </files>
                </AW_ShippingPrice>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <aw_shippingprice>
                <class>AW_ShippingPrice_Helper</class>
            </aw_shippingprice>
        </helpers>
        <models>
            <shippingprice>
                <class>AW_ShippingPrice_Model</class>
            </shippingprice>
        </models>
        <blocks>
            <aw_shippingprice>
                <class>AW_ShippingPrice_Block</class>
            </aw_shippingprice>
        </blocks>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <aw_shippingprice>
                        <type>singleton</type>
                        <class>shippingprice/observer</class>
                        <method>appendBlock</method>
                    </aw_shippingprice>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <aw_shippingprice module="aw_shippingprice">
                    <file>aw_shippingprice.xml</file>
                </aw_shippingprice>
            </updates>
        </layout>
        <routers>
            <aw_shippingprice>
                <use>standard</use>
                <args>
                    <module>AW_ShippingPrice</module>
                    <frontName>shippingprice</frontName>
                </args>
            </aw_shippingprice>
        </routers>
        <translate>
            <modules>
                <AW_ShippingPrice>
                    <files>
                        <default>AW_ShippingPrice.csv</default>
                    </files>
                </AW_ShippingPrice>
            </modules>
        </translate>
    </frontend>
</config>