<?xml version="1.0"?>
<config>
  <modules>
    <Fabmod_Ecommerce>
      <version>0.0.1</version>
    </Fabmod_Ecommerce>
  </modules>
  <global>
    <models>
      <fabmod_ecommerce>
        <class>Fabmod_Ecommerce_Model</class>
        <resourceModel>Fabmod_Ecommerce_Model_Resource</resourceModel>
      </fabmod_ecommerce>
    </models>
    <blocks>
      <fabmod_ecommerce>
        <class>Fabmod_Ecommerce_block</class>
      </fabmod_ecommerce>
    </blocks>
    <helpers>
      <fabmod_ecommerce>
        <class>Fabmod_Ecommerce_Helper</class>
      </fabmod_ecommerce>
    </helpers>
  </global>
  <frontend>
    <layout>
      <updates>
        <fabmod_ecommerce>
          <file>fabmod_ecommerce.xml</file>
        </fabmod_ecommerce>
      </updates>
    </layout>
  </frontend>
  <default>
    <fabmod_ecommerce>
      <tags>
        <enabled>0</enabled>
      </tags>
    </fabmod_ecommerce>
  </default>
</config>
