<?xml version="1.0"?>
<config>
    <modules>
        <Magefast_ProductBreadcrumbs>
            <version>1.0.1</version>
        </Magefast_ProductBreadcrumbs>
    </modules>
    <global>
        <helpers>
            <magefast_productbreadcrumbs>
                <class>Magefast_ProductBreadcrumbs_Helper</class>
            </magefast_productbreadcrumbs>
        </helpers>
        <!--<events>-->
            <!--<application_clean_cache>-->
                <!--<observers>-->
                    <!--<magefast_productbreadcrumbs_observer_cache>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Magefast_ProductBreadcrumbs_Model_Observer</class>-->
                        <!--<method>refreshCache</method>-->
                    <!--</magefast_productbreadcrumbs_observer_cache>-->
                <!--</observers>-->
            <!--</application_clean_cache>-->
        <!--</events>-->
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <magefast_productbreadcrumbs_observer>
                        <type>singleton</type>
                        <class>Magefast_ProductBreadcrumbs_Model_Observer</class>
                        <method>updateBreadcrumbs</method>
                    </magefast_productbreadcrumbs_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Magefast_ProductBreadcrumbs>
                    <files>
                        <default>Magefast_ProductBreadcrumbs.csv</default>
                    </files>
                </Magefast_ProductBreadcrumbs>
            </modules>
        </translate>
    </adminhtml>
</config>
