<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Fpc>
            <version>1.0.0.3</version>
        </Mirasvit_Fpc>
    </modules>
    <global>
        <blocks>
            <fpc>
                <class>Mirasvit_Fpc_Block</class>
            </fpc>
        </blocks>
        <models>
            <fpc>
                <class>Mirasvit_Fpc_Model</class>
                <resourceModel>fpc_resource</resourceModel>
            </fpc>
            <fpc_resource>
                <class>Mirasvit_Fpc_Model_Resource</class>
                <entities>
                    <log>
                        <table>m_fpc_log</table>
                    </log>
                    <log_aggregated_daily>
                        <table>m_fpc_log_aggregated_daily</table>
                    </log_aggregated_daily>
                    <crawler_url>
                        <table>m_fpc_crawler_url</table>
                    </crawler_url>
                </entities>
            </fpc_resource>
        </models>
        <helpers>
            <fpc>
                <class>Mirasvit_Fpc_Helper</class>
            </fpc>
        </helpers>
        <resources>
            <fpc_setup>
                <setup>
                    <module>Mirasvit_Fpc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fpc_setup>
        </resources>
        <events>
            <model_load_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>registerModelTag</method>
                    </mirasvit_fpc>
                </observers>
            </model_load_after>
            <catalog_block_product_list_collection>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>registerCollectionTag</method>
                    </mirasvit_fpc>
                </observers>
            </catalog_block_product_list_collection>
            <catalog_product_is_salable_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>registerProductTags</method>
                    </mirasvit_fpc>
                </observers>
            </catalog_product_is_salable_after>
            <application_clean_cache>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/cache</class>
                        <method>onCleanCache</method>
                    </mirasvit_fpc>
                </observers>
            </application_clean_cache>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>onStockItemSaveAfter</method>
                    </mirasvit_fpc>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
        </events>
        <cache>
            <types>
                <fpc translate="label,description" module="fpc">
                    <label>Full Page Cache</label>
                    <description>Full page caching.</description>
                    <tags>FPC</tags>
                </fpc>
            </types>
        </cache>
    </global>
    <frontend>
        <routers>
            <fpc>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Fpc</module>
                    <frontName>fpc</frontName>
                </args>
            </fpc>
        </routers>
        <layout>
            <updates>
                <fpc>
                    <file>fpc.xml</file>
                </fpc>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mirasvit_fpc>
                        <type>singleton</type>
                        <class>fpc/processor</class>
                        <method>serveResponse</method>
                    </mirasvit_fpc>
                </observers>
            </controller_action_predispatch>
            <http_response_send_before>
                <observers>
                    <mirasvit_fpc>
                        <type>singleton</type>
                        <class>fpc/processor</class>
                        <method>cacheResponse</method>
                    </mirasvit_fpc>
                    <mirasvit_fpc_prepare>
                        <type>singleton</type>
                        <class>fpc/processor</class>
                        <method>prepareHtml</method>
                    </mirasvit_fpc_prepare>
                </observers>
            </http_response_send_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <mirasvit_fpc>
                        <type>singleton</type>
                        <class>fpc/processor</class>
                        <method>markContainer</method>
                    </mirasvit_fpc>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <fpc>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Fpc</module>
                    <frontName>full_page_cache</frontName>
                </args>
            </fpc>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Fpc>
                    <files>
                        <default>Mirasvit_Fpc.csv</default>
                    </files>
                </Mirasvit_Fpc>
            </modules>
        </translate>
        <layout>
            <updates>
                <fpc>
                    <file>fpc.xml</file>
                </fpc>
            </updates>
        </layout>
        <events>
            <clean_media_cache_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>cleanCache</method>
                    </mirasvit_fpc>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>cleanCache</method>
                    </mirasvit_fpc>
                </observers>
            </clean_catalog_images_cache_after>
            <adminhtml_cache_refresh_type>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>cleanCache</method>
                    </mirasvit_fpc>
                </observers>
            </adminhtml_cache_refresh_type>

            <model_save_commit_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>validateDataChanges</method>
                    </mirasvit_fpc>
                </observers>
            </model_save_commit_after>
            <model_delete_commit_after>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>validateDataDelete</method>
                    </mirasvit_fpc>
                </observers>
            </model_delete_commit_after>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>invalidateCache</method>
                    </mirasvit_fpc>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>invalidateCache</method>
                    </mirasvit_fpc>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <mirasvit_fpc>
                        <class>fpc/observer</class>
                        <method>invalidateCache</method>
                    </mirasvit_fpc>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <model_save_after>
                <observers>
                    <mirasvit_fpc>
                        <type>singleton</type>
                        <class>fpc/observer</class>
                        <method>flushCacheAfterCatalogRuleSave</method>
                    </mirasvit_fpc>
                </observers>
            </model_save_after>
        </events>
    </adminhtml>
    <default>
        <fpc>
            <general>
                <enabled>1</enabled>
                <lifetime>3600</lifetime>
                <max_cache_size>128</max_cache_size>
                <max_cache_number>20000</max_cache_number>
                <debug>0</debug>
                <flush_cache_schedule>0 1 * * *</flush_cache_schedule>
            </general>
            <crawler>
                <enabled>1</enabled>
                <max_threads>2</max_threads>
                <thread_delay>0</thread_delay>
                <max_urls_per_run>10</max_urls_per_run>
                <schedule>*/5 * * * *</schedule>
                <status>-</status>
                <sort_crawler_urls>popularity</sort_crawler_urls>
                <run_as_apache_user>0</run_as_apache_user>
            </crawler>
            <cache_rules>
                <max_depth>10</max_depth>
                <cacheable_actions>a:3:{s:18:"_1391447340643_643";a:1:{s:6:"action";s:15:"cms/index_index";}s:18:"_1391447344858_858";a:1:{s:6:"action";s:20:"catalog/product_view";}s:18:"_1391447350658_658";a:1:{s:6:"action";s:21:"catalog/category_view";}}</cacheable_actions>
                <allowed_pages></allowed_pages>
                <ignored_pages></ignored_pages>
            </cache_rules>
        </fpc>
    </default>
    <crontab>
        <jobs>
            <fpc_crawler>
                <schedule>
                    <config_path>fpc/crawler/schedule</config_path>
                </schedule>
                <run>
                    <model>fpc/crawler_crawl::run</model>
                </run>
            </fpc_crawler>
            <fpc_flush_cache>
                <schedule>
                    <config_path>fpc/general/flush_cache_schedule</config_path>
                </schedule>
                <run>
                    <model>fpc/observer::flushCache</model>
                </run>
            </fpc_flush_cache>
            <fpc_cache_clean_old>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fpc/cache::cleanByLimits</model>
                </run>
            </fpc_cache_clean_old>
            <fpc_log_import>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fpc/log::importFileLog</model>
                </run>
            </fpc_log_import>
        </jobs>
    </crontab>
</config>
