<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px; margin:0; padding:0;">
    <div style="float:left;width:100%;  margin-bottom: 15px; padding:auto">
        <img style="margin:auto; width: 60%; margin: 0 20%;" src="{{media url='/inventory/LowStock-sign.jpg'}}" />
    </div>
    
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px; margin:0; padding:0; width:100%">
        <span>Hello {{var manager_name}}</span>
        <br/><br/>
        Some of your products are at low stock level. You need to add more products to the warehouse <strong>{{var warehouse_name}}</strong>.
        <br/>
        Please click on the button below to view the list of products which are at low stock level.
        
    </div>
    <div style="float:left;width:100%; padding: auto;">
        <a style="width:50%; margin: 20px 25%;background:#444444;color:white;border:1px solid #444444;padding:5px;text-decoration: none;float: left;text-align: center;font-weight: bold;" href="{{var link}}">View low-stock products</a>
    </div>    
       
</body>
