<?xml version="1.0"?>
<config>
  <modules>
    <Fabmod_Infscroll>
      <version>0.0.1</version>
    </Fabmod_Infscroll>
  </modules>
  <global>
    <models>
      <fabmod_infscroll>
        <class>Fabmod_Infscroll_Model</class>
        <resourceModel>Fabmod_Infscroll_Model_Resource</resourceModel>
      </fabmod_infscroll>
    </models>
    <blocks>
      <fabmod_infscroll>
        <class>Fabmod_Infscroll_block</class>
      </fabmod_infscroll>
    </blocks>
    <helpers>
      <fabmod_infscroll>
        <class>Fabmod_Infscroll_Helper</class>
      </fabmod_infscroll>
    </helpers>
  </global>
  <frontend>
    <layout>
      <updates>
        <fabmod_infscroll>
          <file>fabmod_infscroll.xml</file>
        </fabmod_infscroll>
      </updates>
    </layout>
  </frontend>
  <default>
    <fabmod_infscroll>
      <infscr>
        <enabled>0</enabled>
      </infscr>
    </fabmod_infscroll>
  </default>
</config>
