<?xml version="1.0"?>
<config>
  <modules>
    <Fabmod_Shopgo>
      <version>0.0.1</version>
    </Fabmod_Shopgo>
  </modules>
  <global>
    <models>
      <fabmod_shopgo>
        <class>Fabmod_Shopgo_Model</class>
        <resourceModel>Fabmod_Shopgo_Model_Resource</resourceModel>
      </fabmod_shopgo>
    </models>
    <blocks>
      <fabmod_shopgo>
        <class>Fabmod_Shopgo_block</class>
      </fabmod_shopgo>
    </blocks>
    <helpers>
      <fabmod_shopgo>
        <class>Fabmod_Shopgo_Helper</class>
      </fabmod_shopgo>
    </helpers>
  </global>
  <frontend>
    <layout>
      <updates>
        <fabmod_shopgo>
          <file>fabmod_shopgo.xml</file>
        </fabmod_shopgo>
      </updates>
    </layout>
  </frontend>
  <default>
    <fabmod_shopgo>
      <tags>
        <enabled>0</enabled>
      </tags>
    </fabmod_shopgo>
  </default>
</config>
