<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Supplierfrontendproductuploader>
            <version>1.3.18</version>
        </Cminds_Supplierfrontendproductuploader>
    </modules>
    <default>
        <supplierfrontendproductuploader_catalog>
            <supplierfrontendproductuploader_presentation>
                <account_page_label>My Supplier Frontend Product Uploader Panel</account_page_label>
                <show_header>0</show_header>
                <show_footer>0</show_footer>
                <include_jquery>1</include_jquery>
            </supplierfrontendproductuploader_presentation>
        </supplierfrontendproductuploader_catalog>
        <supplierfrontendproductuploader_products>
            <supplierfrontendproductuploader_catalog_config>
                <sku_schema>100001</sku_schema>
                <tax_class_id>0</tax_class_id>
                <images_count>3</images_count>
            </supplierfrontendproductuploader_catalog_config>
        </supplierfrontendproductuploader_products>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Cminds_Supplierfrontendproductuploader before="Mage_Adminhtml">Cminds_Supplierfrontendproductuploader_Override_Adminhtml</Cminds_Supplierfrontendproductuploader>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <supplierfrontendproductuploader>
                <class>Cminds_Supplierfrontendproductuploader_Block</class>
            </supplierfrontendproductuploader>
            <customer>
                <rewrite>
                    <account_navigation>Cminds_Supplierfrontendproductuploader_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>Cminds_Supplierfrontendproductuploader_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                    <dashboard>Cminds_Supplierfrontendproductuploader_Block_Adminhtml_Dashboard</dashboard>
                    <catalog_product_edit>Cminds_Supplierfrontendproductuploader_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <supplierfrontendproductuploader>
                <class>Cminds_Supplierfrontendproductuploader_Helper</class>
            </supplierfrontendproductuploader>
            <catalog>
                <rewrite>
                    <product>Cminds_Supplierfrontendproductuploader_Helper_Catalog_Product</product>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <supplierfrontendproductuploader>
                <class>Cminds_Supplierfrontendproductuploader_Model</class>
                <resourceModel>supplierfrontendproductuploader_mysql4</resourceModel>
            </supplierfrontendproductuploader>
            <supplierfrontendproductuploader_mysql4>
                <class>Cminds_Supplierfrontendproductuploader_Model_Mysql4</class>
                <entities>
                    <ordered_products>
                        <table>supplierfrontendproductuploader_ordered_products</table>
                    </ordered_products>
                    <supplierfrontendproductuploader_attribute_label>
                        <table>supplierfrontendproductuploader_attribute_label</table>
                    </supplierfrontendproductuploader_attribute_label>
                </entities>
            </supplierfrontendproductuploader_mysql4>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <supplierfrontendproductuploader_sales_order_place_after>
                        <type>singleton</type>
                        <class>Cminds_Supplierfrontendproductuploader_Model_Observer</class>
                        <method>onOrderPlaced</method>
                    </supplierfrontendproductuploader_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <customer_save_before>
                <observers>
                    <cminds_supplierfrontendproductuploader_customer_save_observer>
                        <type>singleton</type>
                        <class>Cminds_Supplierfrontendproductuploader_Model_Observer</class>
                        <method>onCustomerSaveBefore</method>
                    </cminds_supplierfrontendproductuploader_customer_save_observer>
                </observers>
            </customer_save_before>
            <catalog_entity_attribute_save_after>
                <observers>
                    <cminds_supplierfrontendproductuploader_customer_save_observer>
                        <type>singleton</type>
                        <class>Cminds_Supplierfrontendproductuploader_Model_Observer</class>
                        <method>onAttributeSaveAfter</method>
                    </cminds_supplierfrontendproductuploader_customer_save_observer>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
        <resources>
            <cminds_supplierfrontendproductuploader>
                <setup>
                    <module>Cminds_Supplierfrontendproductuploader</module>
                    <class>Cminds_Supplierfrontendproductuploader_Model_Mysql4_Setup</class>
                </setup>
            </cminds_supplierfrontendproductuploader>
        </resources>
    </global>
    <frontend>
        <translate>
109	            <modules>
110	                <cminds_supplierfrontendproductuploader>
111	                    <files>
112	                        <default>Cminds_Supplierfrontendproductuploader.csv</default>
113	                    </files>
114	                </cminds_supplierfrontendproductuploader>
115	            </modules>
116	        </translate>
        <routers>
            <cminds_supplierfrontendproductuploader>
                <use>standard</use>
                <args>
                    <module>Cminds_Supplierfrontendproductuploader</module>
                    <frontName>supplierfrontendproductuploader</frontName>
                </args>
            </cminds_supplierfrontendproductuploader>
        </routers>
        <layout>
            <updates>
                <supplierfrontendproductuploader>
                    <file>cminds_supplierfrontendproductuploader.xml</file>
                </supplierfrontendproductuploader>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_supplierfrontendproductuploader before="Mage_Adminhtml">Cminds_Supplierfrontendproductuploader_Adminhtml</cminds_supplierfrontendproductuploader>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <cminds_supplierfrontendproductuploader>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>supplierfrontendproductuploader/image::cleanUpCache</model>
                </run>
            </cminds_supplierfrontendproductuploader>
        </jobs>
    </crontab>
    <adminhtml>
        <translate>
109	            <modules>
110	                <cminds_supplierfrontendproductuploader>
111	                    <files>
112	                        <default>Cminds_Supplierfrontendproductuploader.csv</default>
113	                    </files>
114	                </cminds_supplierfrontendproductuploader>
115	            </modules>
116	        </translate>
    </adminhtml>
</config>
