<?xml version="1.0"?>
<config>
    <modules>
        <Mexbs_Shipping>
            <version>1.0.0</version>
        </Mexbs_Shipping>
    </modules>
    <global>
        <helpers>
            <mexbs_shipping>
                <class>Mexbs_Shipping_Helper</class>
            </mexbs_shipping>
        </helpers>
        <blocks>
            <mexbs_shipping>
                <class>Mexbs_Shipping_Block</class>
            </mexbs_shipping>
            <checkout>
                <rewrite>
                    <onepage_billing>Mexbs_Shipping_Block_Checkout_Onepage_Billing</onepage_billing>
                    <onepage_shipping>Mexbs_Shipping_Block_Checkout_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <mexbs_shipping>
                <class>Mexbs_Shipping_Model</class>
            </mexbs_shipping>
            <directory_resource>
                <rewrite>
                    <country_collection>Mexbs_Shipping_Model_Resource_Directory_Country_Collection</country_collection>
                </rewrite>
            </directory_resource>
            <customer>
                <rewrite>
                    <entity_address_attribute_source_country>Mexbs_Shipping_Model_Resource_Customer_Address_Attribute_Source_Country</entity_address_attribute_source_country>
                </rewrite>
            </customer>
        </models>
    </global>
    <frontend>
        <routers>
            <mexbs_shipping>
                <use>standard</use>
                <args>
                    <module>Mexbs_Shipping</module>
                    <frontName>mexbs_shipping</frontName>
                </args>
            </mexbs_shipping>
            <checkout>
                <args>
                    <modules>
                        <Mexbs_Shipping before="Mage_Checkout">Mexbs_Shipping_Checkout</Mexbs_Shipping>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <default>
        <general>
            <country>
                <allow_shipping>AF,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AX,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BL,BT,BO,BA,BW,BV,BR,IO,VG,BN,BG,BF,BI,KH,CM,CA,CD,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CK,CR,HR,CU,CY,CZ,DK,DJ,DM,DO,EC,EG,SV,GQ,ER,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GG,GH,GI,GR,GL,GD,GP,GU,GT,GN,GW,GY,HT,HM,HN,HK,HU,IS,IM,IN,ID,IR,IQ,IE,IL,IT,CI,JE,JM,JP,JO,KZ,KE,KI,KW,KG,LA,LV,LB,LS,LR,LY,LI,LT,LU,ME,MF,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,FX,MX,FM,MD,MC,MN,MS,MA,MZ,MM,NA,NR,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,KP,MP,NO,OM,PK,PW,PA,PG,PY,PE,PH,PN,PL,PS,PT,PR,QA,RE,RO,RS,RU,RW,SH,KN,LC,PM,VC,WS,SM,ST,SA,SN,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,SD,SR,SJ,SZ,SE,CH,SY,TL,TW,TJ,TZ,TH,TG,TK,TO,TT,TN,TR,TM,TC,TV,VI,UG,UA,AE,GB,US,UM,UY,UZ,VU,VA,VE,VN,WF,EH,YE,ZM,ZW</allow_shipping>
            </country>
        </general>
    </default>
</config>