<?xml version="1.0"?>
<config>
    <modules>
        <Webshops4All_ShowDeliverytime>
            <version>0.1.0</version>
        </Webshops4All_ShowDeliverytime>
    </modules>
    <frontend>
        <translate>
            <modules>
                <showdeliverytime>
                    <files>
                        <default>Webshops4All_ShowDeliverytime.csv</default>
                    </files>
                </showdeliverytime>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <showdeliverytime>
                <class>Webshops4All_ShowDeliverytime_Block</class>
            </showdeliverytime>
        </blocks>
        <helpers>
            <showdeliverytime>
                <class>Webshops4All_ShowDeliverytime_Helper</class>
            </showdeliverytime>
        </helpers>
        <models>
            <showdeliverytime>
                <class>Webshops4All_ShowDeliverytime_Model</class>
            </showdeliverytime>
            <catalog>
                <rewrite>
                    <product>Webshops4All_ShowDeliverytime_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <webshops4all_showdeliverytime_setup>
                <setup>
                    <module>Webshops4All_ShowDeliverytime</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </webshops4all_showdeliverytime_setup>
        </resources>
    </global>

</config>