<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Xlanding
 */
-->
<config>
    <modules>
        <Amasty_Xlanding>
            <version>1.8.3</version>
        </Amasty_Xlanding>
    </modules>
    <frontend>
        <layout>
            <updates>
                <amlanding>
                    <file>amlanding.xml</file>
                </amlanding>
            </updates>
        </layout>
        <routers>
            <amlanding>
                <use>standard</use>
                <args>
                    <module>Amasty_Xlanding</module>
                    <frontName>amlanding</frontName>
                </args>
            </amlanding>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <amasty_xlanding before="Mage_Adminhtml">Amasty_Xlanding_Adminhtml</amasty_xlanding>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 
	
    <adminhtml>
        <layout>
            <updates>
                <amlanding>
                    <file>amasty/amlanding/main.xml</file>
                </amlanding>
            </updates>
        </layout>
        <menu>
	       <catalog>
                <children>
                    <amlanding translate="title" module="amlanding">
                        <title>Landing Pages</title>
                        <sort_order>850</sort_order>
                        <action>adminhtml/lpage/index</action>
                    </amlanding>
                </children>
            </catalog>
	   </menu>     
	   <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <amlanding>
                                    <title>Landing Pages</title>
                                </amlanding>
                            </children>
                        </catalog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amlanding>
                                            <title>Landing Pages Settings</title>
                                        </amlanding>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
			</resources>
		</acl>
        <translate>
            <modules>
                <Amasty_Finder>
                    <files>
                        <default>Amasty_Landing.csv</default>
                    </files>
                </Amasty_Finder>
            </modules>
        </translate>
    </adminhtml>
    
    <global>
        <models>
            <amlanding>
                <class>Amasty_Xlanding_Model</class>
                <resourceModel>amlanding_mysql4</resourceModel>
            </amlanding>
            <amlanding_mysql4>
                <class>Amasty_Xlanding_Model_Mysql4</class>
                <entities>
                    <page>
                        <table>am_landing_page</table>
                    </page>
                    <page_store>
                        <table>am_landing_page_store</table>
                    </page_store>
                </entities>
            </amlanding_mysql4>
            <sitemap_resource>
            	<rewrite>
            		<cms_page>Amasty_Xlanding_Model_Resource_Cms_Page</cms_page>
            	</rewrite>
            </sitemap_resource>
            <catalog>
                <rewrite>
                	<layer_filter_category>Amasty_Xlanding_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_item>Amasty_Xlanding_Model_Catalog_Layer_Filter_Item</layer_filter_item>
	        	</rewrite> 
            </catalog>  
            <catalog_resource>
            	<rewrite>
            		<layer_filter_price>Amasty_Xlanding_Model_Resource_Catalog_Layer_Filter_Price</layer_filter_price>
            	</rewrite>
            </catalog_resource>
        </models>
        <resources>
            <amlanding_setup>
                <setup>
                    <module>Amasty_Xlanding</module>
                </setup>
            </amlanding_setup>
        </resources>
        <blocks>
            <amlanding>
                <class>Amasty_Xlanding_Block</class>
            </amlanding>
            <catalog>
                <!--<rewrite>-->
                    <!--<product_list_toolbar>Amasty_Xlanding_Block_Catalog_Product_List_Toolbar</product_list_toolbar>-->
                <!--</rewrite>-->
                <rewrite>
                    <layer_state>Amasty_Xlanding_Block_Catalog_Layer_State</layer_state>
                </rewrite>
            </catalog> 
        </blocks>
        <helpers>
            <amlanding>
                <class>Amasty_Xlanding_Helper</class>
            </amlanding>
        </helpers> 
        <events>
        	<controller_front_init_routers>
                <observers>
                    <amlanding>
                        <class>Amasty_Xlanding_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </amlanding>
                </observers>
            </controller_front_init_routers>
        <controller_action_layout_generate_blocks_after>
                <observers>
                    <amlanding>
                        <class>amlanding/observer</class>
                        <method>convertLayerBlock</method>
                    </amlanding>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>          
    </global>
    <default>     
    	<amlanding>
            <advanced>
                <column_count>3</column_count>
            </advanced>
    	</amlanding>   
    </default>
</config>
