<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Cminds_Marketplace>
            <version>1.4.3</version>
        </Cminds_Marketplace>
    </modules>
    <global>
        <blocks>
            <marketplace>
                <class>Cminds_Marketplace_Block</class>
            </marketplace>
            <adminhtml>
                <rewrite>
                    <customer_grid>Cminds_Marketplace_Block_Adminhtml_Customer_Grid</customer_grid>
                    <customer_edit>Cminds_Marketplace_Block_Adminhtml_Customer_Edit</customer_edit>
                    <customer_edit_tabs>Cminds_Marketplace_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                    <catalog_product_attribute_set_main>Cminds_Marketplace_Block_Adminhtml_Catalog_Product_Attribute_Set_Main</catalog_product_attribute_set_main>
                    <catalog_product_attribute_set_grid>Cminds_Marketplace_Block_Adminhtml_Catalog_Product_Set_Grid</catalog_product_attribute_set_grid>
                    <catalog_product_attribute_set_main_formset>Cminds_Marketplace_Block_Adminhtml_Catalog_Product_Set_Formset</catalog_product_attribute_set_main_formset>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <account_navigation>Cminds_Marketplace_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <supplierfrontendproductuploader>
                <rewrite>
                    <product_create>Cminds_Marketplace_Block_Product_Create</product_create>
                </rewrite>
            </supplierfrontendproductuploader>
        </blocks>
        <models>
            <marketplace>
                <class>Cminds_Marketplace_Model</class>
                <resourceModel>marketplace_mysql4</resourceModel>
            </marketplace>
            <marketplace_mysql4>
                <class>Cminds_Marketplace_Model_Mysql4</class>
                <entities>
                    <methods>
                        <table>marketplace_supplier_shipping_methods</table>
                    </methods>
                    <rates>
                        <table>marketplace_supplier_shipping_rates</table>
                    </rates>
                    <rating>
                        <table>marketplace_supplier_rating</table>
                    </rating>
                    <supplier_profile>
                        <table>marketplace_supplier_profile</table>
                    </supplier_profile>
                    <torate>
                        <table>marketplace_supplier_to_rate</table>
                    </torate>
                    <fields>
                        <table>marketplace_supplier_profile_attributes</table>
                    </fields>
                    <payments>
                        <table>marketplace_supplier_payments</table>
                    </payments>
                    <supplier_to_category>
                        <table>marketplace_supplier_to_category</table>
                    </supplier_to_category>
                </entities>
            </marketplace_mysql4>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Cminds_Marketplace_Model_Invoice_Pdf</order_pdf_invoice>
                    <order_item>Cminds_Marketplace_Model_Order_Item</order_item>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <marketplace>
                <class>Cminds_Marketplace_Helper</class>
            </marketplace>
        </helpers>
        <resources>
            <cminds_marketplace>
                <setup>
                    <module>Cminds_Marketplace</module>
                    <class>Cminds_Marketplace_Model_Mysql4_Setup</class>
                </setup>
            </cminds_marketplace>
        </resources>
        <fieldsets>
            <adminhtml_customer>
                <percentage_fee>*</percentage_fee>
            </adminhtml_customer>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <marketplace_sales_order_place_after>
                        <type>singleton</type>
                        <class>Cminds_Marketplace_Model_Observer</class>
                        <method>onOrderPlaced</method>
                    </marketplace_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_save_commit_after>
                <observers>
                    <cm_sales_order_save_commit_after>
                        <type>singleton</type>
                        <class>Cminds_Marketplace_Model_Observer</class>
                        <method>onOrderSave</method>
                    </cm_sales_order_save_commit_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
        
    </global>
    <frontend>
        <translate>
109	            <modules>
110	                <cminds_marketplace>
111	                    <files>
112	                        <default>Cminds_Marketplace.csv</default>
113	                    </files>
114	                </cminds_marketplace>
115	            </modules>
116	        </translate>
        <layout>
            <updates>
                <marketplace>
                    <file>cminds_marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
        <routers>
            <cminds_marketplace>
                <use>standard</use>
                <args>
                    <module>Cminds_Marketplace</module>
                    <frontName>marketplace</frontName>
                </args>
            </cminds_marketplace>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
109	            <modules>
110	                <marketplace>
111	                    <files>
112	                        <default>Cminds_Marketplace.csv</default>
113	                    </files>
114	                </marketplace>
115	            </modules>
116	        </translate>
        <layout>
            <updates>
                <marketplace>
                    <file>cminds_marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <marketplace_adminhtml_customer_save_after>
                        <class>marketplace/adminhtml_observer</class>
                        <method>onCustomerSave</method>
                    </marketplace_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
            <eav_entity_attribute_set_save_before>
                <observers>
                    <marketplace_adminhtml_eav_entity_attribute_set_save_after>
                        <class>marketplace/adminhtml_observer</class>
                        <method>onAttributeSetSave</method>
                    </marketplace_adminhtml_eav_entity_attribute_set_save_after>
                </observers>
            </eav_entity_attribute_set_save_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_marketplace before="Mage_Adminhtml">Cminds_Marketplace_Adminhtml</cminds_marketplace>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <marketplace_shipping>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <allowed_methods>FREIGHT</allowed_methods>
                <model>marketplace/shipping_carrier_marketplace_shipping</model>
                <title>Supplier Shipping Cost</title>
                <product_attribute_code>shipping_rate</product_attribute_code>
                <default_shipping_fee>3.99</default_shipping_fee>
                <default_shipping_fee_not_set_supplier>0.00</default_shipping_fee_not_set_supplier>
                <minimum_suppler_shipping_price>0.00</minimum_suppler_shipping_price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <mode_xml>1</mode_xml>
            </marketplace_shipping>
        </carriers>
        <marketplace_configuration>
            <general>
                <default_percentage_fee>10</default_percentage_fee>
            </general>
            <presentation>
                <change_shipping_costs>1</change_shipping_costs>
                <allow_to_send_shipment>1</allow_to_send_shipment>
                <allow_to_send_invoice>1</allow_to_send_invoice>
            </presentation>
        </marketplace_configuration>
        <marketplace_shipping_labels>
            <custom>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>8.7</page_height>
                <page_width>6.6</page_width>
                <width>2.95</width>
                <height>2</height>
                <vertical_pitch>2.2</vertical_pitch>
                <horizontal_pitch>3.2</horizontal_pitch>
                <top_margin>0.1</top_margin>
                <side_margin>0.1</side_margin>
                <left_padding>0.1</left_padding>
                <top_padding>0.1</top_padding>
                <font_size>10</font_size>
            </custom>
            <dhl>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>8.7</page_height>
                <page_width>6.6</page_width>
                <width>2.95</width>
                <height>2</height>
                <vertical_pitch>2.2</vertical_pitch>
                <horizontal_pitch>3.2</horizontal_pitch>
                <top_margin>0.1</top_margin>
                <side_margin>0.1</side_margin>
                <left_padding>0.1</left_padding>
                <top_padding>0.1</top_padding>
                <font_size>10</font_size>
            </dhl>
            <fedex>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>8.7</page_height>
                <page_width>6.6</page_width>
                <width>2.95</width>
                <height>2</height>
                <vertical_pitch>2.2</vertical_pitch>
                <horizontal_pitch>3.2</horizontal_pitch>
                <top_margin>0.1</top_margin>
                <side_margin>0.1</side_margin>
                <left_padding>0.1</left_padding>
                <top_padding>0.1</top_padding>
                <font_size>10</font_size>
            </fedex>
            <ups>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>8.7</page_height>
                <page_width>6.6</page_width>
                <width>2.95</width>
                <height>2</height>
                <vertical_pitch>2.2</vertical_pitch>
                <horizontal_pitch>3.2</horizontal_pitch>
                <top_margin>0.1</top_margin>
                <side_margin>0.1</side_margin>
                <left_padding>0.1</left_padding>
                <top_padding>0.1</top_padding>
                <font_size>10</font_size>
            </ups>
            <usps>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>8.7</page_height>
                <page_width>6.6</page_width>
                <width>2.95</width>
                <height>2</height>
                <vertical_pitch>2.2</vertical_pitch>
                <horizontal_pitch>3.2</horizontal_pitch>
                <top_margin>0.1</top_margin>
                <side_margin>0.1</side_margin>
                <top_padding>0.1</top_padding>
                <left_padding>0.1</left_padding>
                <font_size>10</font_size>
            </usps>
            <dhlint>
                <number_down>1</number_down>
                <number_across>1</number_across>
                <page_height>8.7</page_height>
                <page_width>6.6</page_width>
                <width>2.95</width>
                <height>2</height>
                <vertical_pitch>2.2</vertical_pitch>
                <horizontal_pitch>3.2</horizontal_pitch>
                <top_margin>0.1</top_margin>
                <side_margin>0.1</side_margin>
                <top_padding>0.1</top_padding>
                <left_padding>0.1</left_padding>
                <font_size>10</font_size>
            </dhlint>
        </marketplace_shipping_labels>
    </default>
</config>