<?xml version="1.0"?>
<config>
  <modules>
    <Fabmod_Mixpanel>
      <version>0.0.1</version>
    </Fabmod_Mixpanel>
  </modules>
  <global>
    <models>
      <fabmod_mixpanel>
        <class>Fabmod_Mixpanel_Model</class>
        <resourceModel>Fabmod_Mixpanel_Model_Resource</resourceModel>
      </fabmod_mixpanel>
    </models>
    <blocks>
      <fabmod_mixpanel>
        <class>Fabmod_Mixpanel_block</class>
      </fabmod_mixpanel>
    </blocks>
    <helpers>
      <fabmod_mixpanel>
        <class>Fabmod_Mixpanel_Helper</class>
      </fabmod_mixpanel>
    </helpers>
    <events>
      <customer_register_success>
        <observers>
          <fabmod_mixpanel_customer_register_success_observer>
            <type>singleton</type>
            <class>fabmod_mixpanel/observer</class>
            <method>accounttrack</method>
          </fabmod_mixpanel_customer_register_success_observer>
        </observers>
      </customer_register_success>
      <customer_login>
        <observers>
          <fabmod_mixpanel_customer_login_observer>
            <type>singleton</type>
            <class>fabmod_mixpanel/observer</class>
            <method>logintrack</method>
          </fabmod_mixpanel_customer_login_observer>
        </observers>
      </customer_login>
    </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <fabmod_mixpanel>
          <file>fabmod_mixpanel.xml</file>
        </fabmod_mixpanel>
      </updates>
    </layout>
  </frontend>
  <default>
    <fabmod_mixpanel>
      <tags>
        <enabled>0</enabled>
      </tags>
      <plus>
        <enabled>0</enabled>
      </plus>
      <adwords>
        <enabled>0</enabled>
      </adwords>
    </fabmod_mixpanel>
  </default>
</config>
