<?xml version="1.0"?>
<config>
  <modules>
    <Fabmod_Fbpixel>
      <version>0.0.1</version>
    </Fabmod_Fbpixel>
  </modules>
  <global>
    <models>
      <fabmod_fbpixel>
        <class>Fabmod_Fbpixel_Model</class>
        <resourceModel>Fabmod_Fbpixel_Model_Resource</resourceModel>
      </fabmod_fbpixel>
    </models>
    <blocks>
      <fabmod_fbpixel>
        <class>Fabmod_Fbpixel_block</class>
      </fabmod_fbpixel>
    </blocks>
    <helpers>
      <fabmod_fbpixel>
        <class>Fabmod_Fbpixel_Helper</class>
      </fabmod_fbpixel>
    </helpers>
    <events>
      <customer_register_success>
        <observers>
          <fabmod_fbpixel_customer_register_success_observer>
            <type>singleton</type>
            <class>fabmod_fbpixel/observer</class>
            <method>fbaccounttrack</method>
          </fabmod_fbpixel_customer_register_success_observer>
        </observers>
      </customer_register_success>
      <customer_login>
        <observers>
          <fabmod_fbpixel_customer_login_observer>
            <type>singleton</type>
            <class>fabmod_fbpixel/observer</class>
            <method>fbuserlogin</method>
          </fabmod_fbpixel_customer_login_observer>
        </observers>
      </customer_login>
    </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <fabmod_fbpixel>
          <file>fabmod_fbpixel.xml</file>
        </fabmod_fbpixel>
      </updates>
    </layout>
  </frontend>
  <default>
    <fabmod_fbpixel>
      <fbpx>
        <enabled>0</enabled>
        <pxid>497560830398015</pxid>
      </fbpx>
      <inpx>
        <enabled>0</enabled>
        <pxid>688841301219379</pxid>
      </inpx>
    </fabmod_fbpixel>
  </default>
</config>
